In [39]:
# !/Users/Chris/anaconda3/bin/pip install MySQL-python

In [2]:
#Scientific Python
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import Series, DataFrame

######################################################

In [3]:
# df = pd.read_csv('BRE2000.csv', parse_dates = True)
# df.head()

              business_id  review_rating review_date  elite_status
0  -0Ackw6MF82PXO9f9Jh_Kg              4     5/24/09             0
1  -0Ackw6MF82PXO9f9Jh_Kg              3      7/6/09             0
2  -0Ackw6MF82PXO9f9Jh_Kg              4      7/7/09             0
3  -0Ackw6MF82PXO9f9Jh_Kg              3     7/13/09             0
4  -0Ackw6MF82PXO9f9Jh_Kg              2      8/3/09             0

In [6]:
#Convert review_date to datetime object
# df['review_date'] = pd.to_datetime(df['review_date'])

In [7]:
# byBusiness = df.groupby('business_id')

In [12]:
# Converts the groupby object to dictionary
# Where the key is the business id and value is 
# the rows in the original df with that business id
# byBusiness_dic = byBusiness.groups
# for i in byBusiness_dic:
#     print(i)

-36CwMJZJigqPMYrx9BJzw
-0GkcDiIgVm0XzDZC8RFOg
-0Ackw6MF82PXO9f9Jh_Kg
-3WVw1TNQbPBzaKCaQQ1AQ
-1tQu_yKCOgOj-WtXmMYIA
-1ERbsOf9XOC9wGbZYFr7g
-1bOb2izeJBZjHC7NWxiPA
-2n-OHbbwIv3SY8RP9bgTQ

In [10]:
# # Get the index of the first elite
# elite_status = []
# business = byBusiness_dic['-2n-OHbbwIv3SY8RP9bgTQ']
# for i in business:
#     temp = df.at[i, 'elite_status']
#     elite_status.append(temp)

# #convert to numpy array
# elite_status = np.array(elite_status)
# first_elite_index = np.nonzero(elite_status == 1)[0][0]

In [13]:
# # Get the ratings for before and after the elite rating
# # Find their averages
# before_elite = []
# after_elite = []

# for i in range(0, len(business)):
#     if i <= first_elite_index:
#         before_elite.append(df.at[business[i],'review_rating'])
#     elif i > first_elite_index:
#         after_elite.append(df.at[business[i],'review_rating'])
#     else:
#         pass
    
# before_elite_avg = np.mean(np.array(before_elite))
# after_elite_avg = np.mean(np.array(after_elite))
# absolute_difference = abs(after_elite_avg - before_elite_avg)

# # print(before_elite, "\n", after_elite)
# # print(before_elite_avg, "\n", after_elite_avg)
# print("difference =", absolute_difference)

difference = 0.0471821756225

In [23]:
#Takes Yelp BRE (Business, Reviews, Elites) CSV file
#Returns dataframe
def get_business_df(csvfile): 
    df = pd.read_csv(csvfile)
    return df

In [40]:
#Takes dataframe as input
#Returns dictionary with key as business id and value as
#indices of the rows in the df with that business id 
def convert_to_dic(df): 
    temp = df.groupby('business_id').groups
    return temp

In [33]:
#Function that takes the business id as input 
#Outputs the difference between before and after elite
def find_difference(business_id, df): 
    # Get index of first elite
    elite_status = []
    before_elite = []
    after_elite = []
    
    business = byBusiness_dic[business_id]
    for i in business:
        temp = df.at[i, 'elite_status']
        elite_status.append(temp)
    
    #Convert to numpy array
    elite_status = np.array(elite_status)
    first_elite_index = np.nonzero(elite_status == 1)[0][0]
    
    #Get ratings for before and after elite rating
    #Find averages for both arrays
    for i in range(0, len(business)): 
        if i <= first_elite_index:
            before_elite.append(df.at[business[i],'review_rating'])
        else:
            after_elite.append(df.at[business[i], 'review_rating'])
    
    before_elite_avg = np.mean(np.array(before_elite))
    after_elite_avg = np.mean(np.array(after_elite))
    absolute_difference = abs(after_elite_avg - before_elite_avg)
    
    return absolute_difference

In [58]:
#Finds the differences for all businesses
#Takes dictionary and dataframe as input
#Returns numpy array with differences
def difference_array(dataframe, df_dictionary): 
    diff_array = []
    for i in df_dictionary: 
        diff_array.append(find_difference(i, dataframe))
    #conversion to numpy array
    diff_array = np.array(diff_array)
    return diff_array

In [55]:
test_df = get_business_df('BRE2000.csv')

In [56]:
test_dic = convert_to_dic(test_df)

In [60]:
differences = difference_array(test_df, test_dic)

In [61]:
np.mean(differences)

0.45898075087222218